 * {
     box-sizing: border-box;
 }

 body,
 h1,
 h2,
 p {
     margin: 0;
     padding: 0;
 }

 a {
     text-decoration: none;
     color: #FAFAFA;
     display: inline-block;
 }

 body {
     display: grid;
     justify-content: center;
     background-color: #F2F2F2;
     font-family: 'Red Hat Display', sans-serif;
     text-align: center;
 }

 .container {
     max-width: 90rem;
     box-shadow: 0 0 25px rgb(151, 150, 150);
     overflow: hidden;
     background-color: #FAFAFA;
 }

 header {
     margin-top: 3rem;
 }

 .desktop {
     display: none;
 }

 .header-image-overflow {
     margin-top: 3rem;
     margin-left: -1.5rem;
     margin-right: -1.5rem;
 }

 main {
     padding: 1.5rem;

 }

 .header-pictures img {
     width: 100%;
 }

 h1 {
     color: #28283D;
     font-size: 2.5rem;
     line-height: 2.75rem;
     font-weight: 700;
     margin-bottom: 1.5rem;
 }

 .text {
     color: #87879D;
     font-size: 1rem;
     line-height: 1.625rem;
     margin-bottom: 1.5rem;
 }

 .hgroup-heading {
     font-size: 1rem;
     font-weight: 700;
     color: #4D96A9;
     letter-spacing: .25rem;
     margin-bottom: 2rem;
     text-transform: uppercase;
 }

 .hgroup-p {
     font-size: 2rem;
     line-height: 2.25rem;
     font-weight: 700;
     margin-bottom: 2rem;
 }

 .btn {
     font-size: 1rem;
     font-weight: 700;
     color: #FAFAFA;
     border: none;
     padding: 1rem 2rem;
     border-radius: 2rem;
     margin-right: 1rem;
 }

 .v-grn {
     color: #8FE3F9;
 }

 .v-purple {
     color: #D9B8FF;
 }

 .btn-green {
     background-color: #4D96A9;
     margin-bottom: 1rem;
 }

 .btn-green:hover {
     background-color: #71C0D4;
 }

 .btn-purple:hover {
     background-color: #B18BDD;
 }

 .btn-purple-what,
 .btn-purple-download {
     background-color: #855FB1;
 }

 .section-one::before {
     content: "";
     width: 1px;
     height: 5.25rem;
     background-color: #87879D;
     position: absolute;
     top: -9.5rem;
     left: 50%;
     right: 50%;
     transform: translate(-50%, -50%);
 }

 .section-one::after {
     content: "01";
     position: absolute;
     display: grid;
     align-items: center;
     width: 3.5rem;
     height: 3.5rem;
     border-radius: 50%;
     border: 1px solid #87879D;
     background-color: #FAFAFA;
     color: #87879D;
     font-weight: 700;
     top: -5rem;
     left: 50%;
     right: 50%;
     transform: translate(-50%, -50%);
 }

 .image-grid {
     position: relative;
     display: grid;
     grid-template-columns: 1fr 1fr;
     grid-template-rows: 1fr 1fr;
     gap: 1.5rem;
     margin-top: 16rem;
 }

 .image-grid img {

     width: 100%;
     border-radius: 1rem;
 }

 .card-container {
     margin-top: 4rem;
 }

 footer {
     position: relative;
     background-image: url("../images/mobile/image-footer.jpg");
     background-size: cover;
     background-position: top center;
     background-repeat: no-repeat;
     margin-top: 8rem;
 }

 .bg-image {
     background-color: hsla(192, 37%, 48%, 0.9);
     padding-bottom: 4rem;
 }

 .section-two::before {
     content: "";
     width: 1px;
     height: 5.25rem;
     background-color: #87879D;
     position: absolute;
     top: -4.25rem;
     left: 50%;
     right: 50%;
     transform: translate(-50%, -50%);
 }

 .section-two::after {
     content: "02";
     position: absolute;
     display: grid;
     align-items: center;
     width: 3.5rem;
     height: 3.5rem;
     border-radius: 50%;
     border: 1px solid #87879D;
     background-color: #FAFAFA;
     color: #87879D;
     font-weight: 700;
     top: 0;
     left: 50%;
     right: 50%;
     transform: translate(-50%, -50%);
 }

 .footer-picture {
     display: grid;
     position: absolute;
     background-color: #4D96A9;
     top: 0;

     z-index: -1;
 }

 .footer-picture img {
     mix-blend-mode: multiply;
     opacity: .2;
     /* display: block; */
     max-width: 100%;
 }

 .footer-heading {
     font-size: 2rem;
     font-weight: 700;
     color: #FAFAFA;
     line-height: 2.25rem;
     padding-top: 4rem;
 }

 .footer-p {
     font-size: 1.125rem;
     color: #FAFAFA;
     font-weight: 500;
     margin: 2rem;
 }

 .btn-purple-download {
     margin-bottom: 1rem;
 }

 /* -------------------------media------------------------- */

 @media screen and (min-width: 37.5rem) {

     .nav-images {
         padding-left: 10rem;
         padding-right: 10rem;
     }

     .image-grid {
         grid-template-columns: 1fr 1fr 1fr 1fr;
         grid-template-rows: 1fr;
     }

     .card-container {
         display: grid;
         justify-content: center;
     }

     .card-sub-container {
         max-width: 35.938rem;
     }

     .hgroup-p {
         padding-left: 6rem;
         padding-right: 6rem;
     }

     footer {
         background-image: url("../images/tablet/image-footer.jpg");
     }
 }

 @media screen and (min-width: 75rem) {
     main {
         padding-left: 0;
         padding-right: 0;
     }

     .image-grid {
         padding-left: 5rem;
         padding-right: 5rem;
     }

     .mobile {
         display: none;
     }

     .nav-images {
         padding-top: 3rem;
         padding-bottom: 3rem;
         background-image: url("../images/desktop/image-hero-left.png"), url("../images/desktop/image-hero-right.png");
         background-repeat: no-repeat;
         background-position: top left -2rem, top right -2rem;
         padding-left: 26.5rem;
         padding-right: 26.5rem;
     }

     .nav-images h1 {
         font-size: 4rem;
         line-height: 4rem;
     }

     .nav-images p {
         font-size: 1.125rem;
         line-height: 1.625rem;
     }

     footer {
         background-image: url("../images/desktop/image-footer.jpg");
     }

     .bg-image {
         padding: 0;
     }

     .grid-group {
         display: grid;
         grid-template-columns: 1fr 1fr 1fr;
         justify-items: center;
         align-items: center;
         height: 308px;
     }

     .footer-heading,
     .footer-p {
         text-align: left;

     }

     .grid-group h2,
     .grid-group p {
         margin: 0;
         padding: 0;
     }

     .btn-purple-download {
         margin: 0;
     }
 }